<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eeduspace.challenge.persist.dao.SystemDictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.eeduspace.challenge.persist.po.SystemDictionary" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, value, description
  </sql>
  
  <sql id="SystemDictionary_where_sql">
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="name != null">
			and name = #{name}
		</if>
		<if test="value != null">
			and value = #{value}
		</if>
		<if test="description != null">
			and description = #{description}
		</if>
	</sql>
  
  
  
  <select id="SystemDictionary_getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from system_dictionary
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from system_dictionary
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="SystemDictionary_save"  keyProperty="id" useGeneratedKeys="true"  >
    insert into system_dictionary (name, value, 
      description)
    values ( #{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eeduspace.challenge.persist.po.SystemDictionary" >
    insert into system_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eeduspace.challenge.persist.po.SystemDictionary" >
    update system_dictionary
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="SystemDictionary_update" parameterType="com.eeduspace.challenge.persist.po.SystemDictionary" >
    update system_dictionary
    set name = #{name,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
    <select id="SystemDictionary_findByPager" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM system_dictionary
		<where>
			<include refid="SystemDictionary_where_sql" />
			<if test="searchProperty != null">
				${searchProperty} = #{searchValue}
			</if>
		</where>
		<if test="orderProperty != null">
			order by ${orderProperty} ${orderDirection}
		</if>
		<if test="start != null ">
			<if test="start >= 0">
				limit #{start}, #{limit}
			</if>
		</if>
	</select>

	<select id="SystemDictionary_findByPager_count" resultType="java.lang.Long">
		select count(id) from system_dictionary
		<where>
			<include refid="SystemDictionary_where_sql" />
			<if test="searchProperty != null">
				${searchProperty} = #{searchValue}
			</if>
		</where>
	</select>
  
  
  
</mapper>